<!--responder.html-->

<divclass="container">

<h3>Intencióndecursada</h3>

<span>Elegílacarreraqueestudias</span>

<selectclass="form-control"ng-options="carreraascarrera.labelforcarrerain

carreras"ng-model="carreraSeleccionada"></select>

<span>Añoenelqueingresastealafacu</span>

<inputclass="form-control"type="text"ng-model="respuesta.anioIngreso"/>

<span>¿Cuantosfinalesaprobaste?</span>

<inputclass="form-control"type="text"ng-model="respuesta.finalesAprobados"/>

<span>¿Cuantosfinalesdesaprobaste?</span>

<inputclass="form-control"type="text"ng-model="respuesta.finalesDesaprobados"/>

<span>¿Cuantosmateriasaprobastelacursada?</span>

<inputclass="form-control"type="text"ng-model="respuesta.cursadasAprobadas"/>

<p>¿AquemateriaspensasAnotarteelproximocuatrimestre?</p>

<divclass="col-md-8">

<span>Materia</span>

<selectclass="form-control"ng-options="materiaasmateria.labelformateriain

carreraSeleccionada.materias"ng-model="materiaSeleccionada"></select>

<span>Turno</span>

<selectclass="form-control"ng-options="turnoasturno.labelforturnointurnos"

ng-model="turnoSeleccionado"></select>

<buttontype="submit"class="btnbtn-primarybtn-block"

ng-click="agregarMateria()">Agregar</button>

</div>

<divclass="col-md-4">

<divng-repeat="porCursarinrespuesta.materias">

<h4>{{porCursar.materia.label}}-<small>{{porCursar.turno.label}}</small></h4>

</div>

</div>

</div>

<buttontype="submit"class="btnbtn-primarybtn-block"ng-click="contestar()">Enviar

Respuestas</button>

</div>