<!--login.html-->
<!DOCTYPE html>
<html data-ng-app="intencionInscripcionApp">
	<head>
		<meta charset="UTF-8"/>
		<title>Intencion de inscripcion</title>
		
		<script type="tep xt/javascript" src="lib/angular.min.js" ></script>
		<script src="lib/jquery.js"></script>
		<link href="bootstrap-3.3.5/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<script src="bootstrap-3.3.5/js/bootstrap.min.js"></script>
		
		<link href="css/style.css" rel="stylesheet">
	</head>
	<body data-ng-controller="intencionInscripcionController">
		<div class="home">
			<div class="mensaje">
				<span>Estamos tratando de mejorar la oferta de horarios de la facu</span>
				<span>Ayudanos respondiendo la encuesta,solo te tomara 10 minutos</span>
			</div>
			<div class="login">
				<input type="text" placeholder="Ingresatumail" data-ng-model="user.mail"/>
				<button type="submit" data-ng-click="autenticar()"> Responder</button>
			</div>
		</div>
	</body>
</html>