<!DOCTYPE html>
<html lang="es" data-ng-app="encuestaApp">
	<head>
		<title>Intencion Inscripcion</title>
		<meta charset="UTF-8" content="width=device-width, initial-scale=1.0">
		
		<!-- angular, jquery, bootstrap -->
		<script src="lib/angular.min.js"></script>
		<script src="lib/jquery.js"></script>
		<link href="bootstrap-3.3.5/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<script src="bootstrap-3.3.5/js/bootstrap.min.js"></script>
		<script src="node_modules/underscore/underscore-min.js"></script>
		<script src="lib/angular-route.min.js"></script>
		
		<!-- css -->
		<link rel="stylesheet" type="text/css" href="css/style.css">
		
		<!-- nuestra aplicacion js -->
		<script src="js/app.js"></script>  
		<script src="js/service.js"></script>  
		<script src="js/controllers.js"></script>  
	</head>

	<body data-ng-controller="LoginCtrl">
		<div class="container">
			<div class="well" style="margin: 20px;background-color: rgba(0, 0, 0, 0.6); font-family: Times New Roman;color: white; font-size: 20px;text-align: center;">
				<span>Estamos tratando de mejorar la oferta de horarios de la facu.</span><br/>
				<span>Ayudanos respondiendo la encuesta, solo te tomara 10 minutos</span>
			</div>
		</div>
				
		<div class="container">
			<div style="width: 520px;height:160px;margin: 200px;">
				<input style="height:50px;margin-bottom: 10px;" type="text" class="form-control" placeholder="Ingresa tu mail" data-ng-model="user.mail"/>
				<button style="height:50px;" type="submit"  class="btn btn-success btn-block" data-ng-click="autenticar()">Responder</button>
			</div>
		</div>
	</body>
</html>